<header class="header">
    <a href="/" class="headerTitle">The Article Scraper</a>

    <nav class="button-group">
        <a href="/scrape"><button class="headerBtn hvr-float" id="scrape">Scrape New Articles</button></a>
        <a href="/saved"><button class="headerBtn hvr-float" id="saved">View Saved Articles</button></a>
        <a href="/clear"><button class="headerBtn hvr-float" id="clear">Clear Articles</button></a>
    </nav>
</header>