<div class="overlayBG">
    <div class="overlayDiv">
        {{> nav }}

        <br>

        <div class="container textMargin">
            <div class="row justify-content-center">
                {{#if articles}}
                {{#each articles}}
                {{> article}}
                {{/each}}
                {{else}}
                <div class="col-12">
                    {{#if saved}}
                    <p class="noArticlesSaved">No articles saved. First save some articles. <a href="/">Go
                            home</a>.
                    </p>
                    {{else}}
                    <p class="noArticlesFound">No articles found. Click the `Scrape New Articles` to get articles
                    </p>
                    {{/if}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>