body {
    background-image: url('https://i.pinimg.com/originals/11/b6/76/11b6769c8f2ea91b25fa0bb10bcaf4ab.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 200%;
    background-position: center center;
    font-size: 62.5%;
    font-family: arial;
    margin: 0;
    padding: 0;
}

a:active {
    outline: none;
}

button:focus {
    outline: none;
}

.header {
    background-color: #181818;
    background-size: 40% 40%;
    background-repeat: no-repeat;
    background-position: center 35%;
    position: fixed;
    width: 100%;
    height: var(--header-height);
    z-index: 100;
}

.header h1 {
    font-size: 65px;
    color: white;
    font: 400 65px/1.3 'Arizonia', Helvetica, sans-serif;
    padding-left: 40px;
}

.header button {
    font-size: 23px;
    padding: 5px 15px 0 0;
    font-weight: 600;
    border: none;
    background: unset;
    color: #777;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 1em 1em 1em 0.25em;
    font: 400 35px/0.8 'Cookie', Helvetica, sans-serif;
}

.button-group {
    position: absolute;
    top: 1%;
    bottom: 0;
    right: 0;
}

#viewSaved {
    left: 11.5%;
}

.filler {
    width: 100%;
    height: var(--header-height);
}


.modal-content {
    background-image: url('../img/notepad-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center 12%;
    border-radius: 0;
    font-family: 'Rock Salt', cursive;
    color: #777;

}

.modal-body {
    padding-top: 0;
    width: 80%;
    margin: 0 auto;
}

.noteInput {
    width: 100%;
    height: 2em;
    background: transparent;
    border: none;
    font-size: 2em;
    border-bottom: 2px solid #777;
}

#submitNote {
    background: transparent;
    border: 2px solid #777;
    font-size: 2em;
}

.instructions {
    display: inline-block;
    margin-right: 5em;
}

.note {
    background: transparent;
    margin-top: 5px;
    height: 3em;
    position: relative;
    cursor: pointer;
}

.noteTitle {
    display: inline-block;
    font-size: 2.5em;
    margin: 0;
}

.deleteNote {
    font-size: 2.5em;
    background: transparent;
    color: #777;
    border: none;
}


.storyPanel {
    background-image: url('../img/panel-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ddd;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    border: 3px solid #ddd;
    position: relative;
    margin: 50px 20px;
    opacity: 0.9;
}

.imgBox {
    overflow: hidden;
    border: 3px solid #ddd;
}

.imgBox:hover .storyImg {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.storyImg {
    float: right;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.storyHeadline {
    font-size: 3.5em;
    font-style: italic;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
}

.storyHeadline:hover {
    color: #777;
}

.storyPanel a {
    text-decoration: none;
    color: #ddd;
}

.storySummary {
    font-size: 2.5em;
}

.storyButton {
    font-size: 2.5em;
    padding: 5px 30px;
    border: 3px solid #ddd;
    background: #777;
    font-weight: 600;
    color: #ddd;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin-right: 10px;
    border-radius: 10px 0 10px 0;
}

.storyButton:hover {
    color: #777;
    background: #ddd;
    border: 3px solid #777;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}